@import "tailwindcss";
@plugin "@iconify/tailwind4";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-background-patterns";

@variant dark (&:is(.dark *));
:root {
  --brand: var(--color-brand);
  --brand-lighter: var(--color-brand-lighter);

  --alert: var(--color-yellow-700);
  --alert-lighter: var(--color-yellow-600);

  --info: var(--color-blue-600);
  --info-lighter: var(--color-blue-500);

  --warning: var(--color-red-600);
  --warning-lighter: var(--color-red-500);

  --success: var(--color-emerald-600);
  --success-lighter: var(--color-emerald-500);

  --background: oklch(0.99 0.0013 106.42);
  --foreground: var(--color-neutral-900);
  --foreground-muted: var(--color-neutral-500);

  --sc-background: var(--color-white);
  --sc-foreground: var(--color-neutral-900);
  --sc-muted: var(--color-neutral-600);

  --card: var(--color-white);
  --card-foreground: var(--color-neutral-900);
  --card-muted: var(--color-neutral-600);

  --secondary: var(--color-neutral-100);
  --secondary-lighter: var(--color-neutral-800);
  --secondary-foreground: var(--color-neutral-800);

  --destructive: var(--color-red-900);
  --destructive-lighter: var(--color-red-800);
  --destructive-foreground: var(--color-white);

  --popover: var(--card);
  --popover-foreground: var(--color-neutral-700);
  --popover-muted: var(--color-neutral-500);

  --muted: var(--color-neutral-500);
  --muted-foreground: var(--color-neutral-950) --accent: var(--color-white);
  --accent-foreground: var(--color-neutral-700);

  --border: color-mix(in oklab, var(--color-black) 15%, transparent);
  --border-lighter: color-mix(in oklab, var(--color-black) 20%, transparent);
  --ring: color-mix(in oklab, var(--color-black) 15%, transparent);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --brand: var(--color-brand);
  --brand-lighter: var(--color-brand-lighter);

  --alert: var(--color-yellow-500);
  --alert-lighter: var(--color-yellow-400);

  --info: var(--color-blue-500);
  --info-lighter: var(--color-blue-400);

  --warning: var(--color-red-500);
  --warning-lighter: var(--color-red-400);

  --success: var(--color-emerald-500);
  --success-lighter: var(--color-emerald-400);

  /* --background: oklch(18.22% 0 0); */
  --background: oklch(16.5% 0.0017 17.33);
  --foreground: var(--color-neutral-100);
  --foreground-muted: var(--color-neutral-400);

  --sc-background: oklch(18.22% 0 0);
  --sc-foreground: var(--color-neutral-100);
  --sc-muted: var(--color-neutral-500);

  --card: oklch(21.22% 0 0);
  --card-foreground: var(--color-neutral-100);
  --card-muted: var(--color-neutral-400);

  --secondary: oklch(21.2% 0.0025 145.48);
  --secondary-lighter: var(--color-neutral-800);
  --secondary-foreground: var(--color-neutral-300);

  --destructive: var(--color-red-900);
  --destructive-lighter: var(--color-red-800);
  --destructive-foreground: var(--color-white);

  --popover: var(--card);
  --popover-foreground: var(--color-neutral-100);
  --popover-muted: var(--color-neutral-300);

  --muted: var(--color-neutral-800);
  --muted-foreground: 240 3.8% 46.1%;

  --accent: oklch(16.84% 0 0);
  --accent-foreground: var(--color-neutral-100);

  --border: color-mix(in oklab, var(--color-white) 5%, transparent);
  --border-lighter: color-mix(in oklab, var(--color-white) 10%, transparent);
  --ring: color-mix(in oklab, var(--color-white) 15%, transparent);

  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme {
  --font-sans: "Inter";
  --font-mono: "DM Mono";
  --font-condesed: "Roboto Condensed";
  --font-wisper: "Bad Script";

  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1380px;

  --color-alert: var(--alert);
  --color-alert-lighter: var(--alert-lighter);

  --color-brand: var(--brand);
  --color-brand-lighter: var(--brand-lighter);

  --color-info: var(--info);
  --color-info-lighter: var(--info-lighter);

  --color-warning: var(--warning);
  --color-warning-lighter: var(--warning-lighter);

  --color-success: var(--success);
  --color-success-lighter: var(--success-lighter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --color-sc-background: var(--sc-background);
  --color-sc-foreground: var(--sc-foreground);
  --color-sc-muted: var(--sc-muted);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-muted: var(--card-muted);

  --color-primary: var(--primary);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-lighter: var(--secondary-lighter);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-lighter: var(--destructive-lighter);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-muted: var(--popover-muted);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-border-lighter: var(--border-lighter);
  --color-ring: var(--ring);

  --text-clamp: clamp(0.7rem, 3vw, 0.8rem);
  --text-clamp-lg: clamp(0.8rem, 4vw, 1rem);
  --text-clamp-xl: clamp(1.25rem, 5vw, 3rem);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-in-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-in-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}
@utility container {
  padding-inline: 0.85rem;
  margin-inline: auto;
}
@layer base {
  :root {
    --desktop-header-top-height: 64px;
    --mobile-header-bottom-height: 58px;
  }
}

@layer base {
  * {
    @apply border-border !ring-0 !outline-none;
  }
  body {
    @apply bg-background text-foreground flex min-h-screen flex-col font-sans;
  }
  input {
    @apply outline-none;
  }
  .dark {
    color-scheme: dark;
  }

  ::selection {
    background: #8884;
  }
  /* html {
    scrollbar-color: var(--foreground) transparent;
  } */
  ::-webkit-scrollbar {
    width: 0.34rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border rounded-full;
  }

  html {
    scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
  }

  html.dark {
    scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
  }
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-old(root) {
    z-index: 1;
  }

  ::view-transition-new(root) {
    z-index: 2147483646;
  }

  .dark::view-transition-old(root) {
    z-index: 2147483646;
  }

  .dark::view-transition-new(root) {
    z-index: 1;
  }

  /* Input AutoFill Colors */
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px var(--color-neutral-950) inset;
    -webkit-text-fill-color: white;
  }

  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px var(--color-neutral-950) inset;
    -webkit-text-fill-color: white;
  }

  /* Input Type Numbers Hide Arrows */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@utility link {
  @apply text-brand-lighter hover:text-brand disabled:text-brand/40 flex cursor-pointer items-center gap-1 rounded-lg duration-200;
}
